@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-custom {
  position: relative;
}

.underline-custom::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: -1;
  background-image: url("../public/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container {
  @apply 2xl:container xl:px-20 md:px-12 px-4 mx-auto;
}
.section-heading {
  @apply md:text-5xl text-4xl font-medium text-black w-fit;
}

.section-title-sm {
  @apply uppercase tracking-widest text-black text-sm;
}
